# OOPS 

### The OOPS is required to have our code implemented in such a way that it is very intuitive to read to know the functionality of the code

### Ex : batch.add_student(Student_id)

### Objects are the real world entities you want to create. 
### Ex-1 : Students of a batch
### Ex-2 : Courses of a university


### Classes are templates using which object are created. Classes contain ATTRIBUTES AND FUNCTIONALITIES OF THE OBJECT. 
### Each object created from the class will contain those attributes and functionalities

### For each batch we will use this Class and add students to that batch


### Ex:A student class will have attributes like BATCH_ID, NAME, AGE etc and Functionalities like ADD STUDENT TO A BATCH

### Class is a template/blueprint

### Object is an instance of a class

In [5]:
class Student:
    pass

In [6]:
s1 = Student()

In [7]:
print(s1)

<__main__.Student object at 0x110f8eeb0>

In [8]:
print(type(s1))

<class '__main__.Student'>

In [10]:
l = list()
print(type(l))

<class 'list'>

In [11]:
s2 = Student()
s3 = Student()

print(s2, s3)

<__main__.Student object at 0x110f8e6a0> <__main__.Student object at 0x110f8ea00>

### OPERATIONS ON OBJECT'S ATTRIBUTES

##### hasattr
##### getattr
##### delattr

## HOW TO ADD DATA TO OUR OBJECTS

#### Some attributes will be inherited by the object from the class attributes = CLASS ATTRIBUTES
##### and
#### Some attributes can be extra added to a particular object = INSTANCE ATTRIBUTES

In [13]:
s1.name = "Rishabhh"

In [15]:
s2.rollNumber = 24

In [16]:
s3.name = "Nishant"
s3.rollNumber = 25

In [17]:
s1.name

'Rishabhh'

In [18]:
s2.name

AttributeError: 'Student' object has no attribute 'name'

In [19]:
s2.rollNumber

24

### HOW TO CHECK WHAT ALL ATTRIBUTES AN OBJECT HAS

In [25]:
s3.__dict__

{'name': 'Nishant', 'rollNumber': 25}

In [26]:
s1.__dict__

{'name': 'Rishabhh'}

In [27]:
s2.__dict__

{'rollNumber': 24}

### CHECK IF AN OBJECT HAS A PARTICULAR ATTRIBUTE

In [28]:
hasattr(s1, "name")

True

In [30]:
hasattr(s2, "name")

False

### RETRIEVE AN OBJECT'S ATTRIBUTES VALUE

In [31]:
roll = getattr(s2, "rollNumber")
print(roll)

24

In [32]:
getattr(s2, "name")

AttributeError: 'Student' object has no attribute 'name'

In [33]:
name = getattr(s2, "name")

AttributeError: 'Student' object has no attribute 'name'

### GET ATTRIBUTE WITH DEFAULT PARAMETER - s2.name will always give error but getattr gives a way to handle error

In [36]:
name = getattr(s2, " name", "UNKNOWN")
print(name)

UNKNOWN

### DELETE A PARTICULAR ATTRIBUTE

In [37]:
delattr(s1, "name")

In [38]:
s1.__dict__

{}

## CLASS ATTRIBUTES